* {
	box-sizing: border-box;
}

.container {
	margin: auto;
	padding: 20px 100px 20px 180px;
}

.featured_img {
	display: inline-block;
	padding: 10px 0px 10px 0px;
	width: 100%;
}

.pic {
	width: 100%;
	padding-top: 10px;
}

header {
	border-bottom: 5px solid black;
}

.name {
	display: inline-block;
	width: 85%;
	text-align: right;
}

.header-h1 {
	font-size: 60px;
	margin: auto;
}

.header-h3 {
	margin: 0px;
}

.icon {
	width: 100px;
	height: 100px;
}

.features {
	display: flex;
	flex-wrap: wrap;
}

.sample1, .sample2, .sample3{
	display: inline-block;
	width: 30%;
	margin-right: 2.5%;
	text-align: center;
}

.some-cat {
	height: 300px;
	width: 100%;
}

.some-dog {
	width: 100%;
	height: 300px;
}

.some-bear {
	height: 300px;
	width: 100%;
}

.margin {
	margin: 0px;
}
